registry=https://crypto-com-008629597077.d.codeartifact.ap-southeast-1.amazonaws.com/npm/chain-explorer/
//crypto-com-008629597077.d.codeartifact.ap-southeast-1.amazonaws.com/npm/chain-explorer/:always-auth=true
//crypto-com-008629597077.d.codeartifact.ap-southeast-1.amazonaws.com/npm/chain-explorer/:_authToken=${CODEARTIFACT_AUTH_TOKEN}